/*BURGER MENU*/
.sidebar{
    position: absolute;
    width: 250px;
    height: 100%;
    background: #333;
    color: #fff;
    z-index: 1;
    outline: 1px solid #2a2a2a;
}

.sidebar h2{
    text-align: center;
    margin: 0;
    padding: 10px;
    background: #2a2a2a;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li{
    outline: 1px solid #2a2a2a;
    transition-property: border;
    transition-duration: .3s;
    font-family: "Lato", sans-serif;
}

.sidebar li:hover{
    background: #444;
    border-left: 5px solid #eee;
}

.sidebar a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #eee;
    padding: 0;
    z-index: 1;
    transition-duration: 0.3s;
}

.menu-bar{
    cursor: pointer;
    position: absolute;
    margin: 10px;
    z-index: 2;
}

.open{
    margin-left: 250px;
}

/*HEADER*/

header{
    height: 104vh;
    margin-bottom:20px;
    position: relative;
}

header .image{
    background-image:url(https://images.pexels.com/photos/7369/startup-photos.jpg?w=940&h=650&auto=compress&cs=tinysrgb);
    background-size: cover;
    filter: grayscale(1) blur(1px);
    -webkit-filter: grayscale(1) blur(1px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#heading{
    position: absolute;
    top: 30%;
}

.h1{
  font-family: "Noto Sans", sans-serif;
  margin-left: 40px;
  font-size: 60px;
}  

.Mauri{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-style: italic;
    color:#eeba19;
    font-size: 60px;
}

header h4{
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    margin-left: 43px;
    margin-top: -5px;
    color: #5597F0;
    font-weight: bold;
}

p{
    max-width: 600px;
    text-align: justify;
    margin: 0 auto 20px;
}

/*GENERAL SETTINGS*/
section{
    height: 100%;
    margin-bottom:45px;
}

.btn-default{
    font-family: "Noto Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
}

/*ABOUT*/
.about{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
}

.quote{
    font-family: "Lato", sans-serif;
    margin-top: -3px;
    text-align: center;
    font-size: 15px;
}

p{
    text-align: center;
}

/*PORTFOLIO*/
#Portfolio{
    text-align: center;
}

.portfolio{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
}

.gallery{
    display: inline-block;
    text-align: center;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
/*CONTACT*/

.contact{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
}

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font-family: "Noto Sans", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label{
    margin:0 0 3px 0;
    padding:0;
    display:block;
    font-weight: bold;
}

.form-style-1 input[type=text]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}

.form-style-1 .field-select{
    width: 100%;
}

.form-style-1 .field-textarea{
    height: 100px;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.form-style-1 .required{
    color:red;
}

/*FOOTER*/
footer{
    text-align: center;
    width: 100%;
    padding: 40px 0;
    background-color: #c0c9d6;
}

#foot-title{
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}

#foot-comment{
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    margin: -5px 43px 20px 43px;
}

footer ul{
    list-style: none;
    text-align: center;
}

footer ul li{
    display: inline-block;
}

footer img{
    width: 50px;
}

.footer-nav{
    text-align: left;
    margin: 10px;
    color: #000;
}

/* Social Media icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    margin: 10px 10px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Instagram */
.fa-instagram {
    background: #125688;
    color: white;
}

/* Google+ */
.fa-google {
    background: #dd4b39;
    color: white;
}
